.friendMessage {
    width: 462px;
    height: 77px;
    background-color: #ff8800;
}

.friendImageAndText {


}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
