.button {
}

.disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;


    width: 133px;
    height: 30px;


    background: #004D99;
    opacity: 0.5;
    border-radius: 3px;
}

.secondary {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;


    width: 176px;
    height: 30px;


    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 132px;
    height: 30px;
  /* Primary/100 */
    background: #0066CC;
    border-radius: 3px;
}

.red {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;

    width: 129px;
    height: 30px;


    /* Danger/100 */

    background: #CC1439;
    border-radius: 3px;
}

.default:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 167px;
    height: 30px;
    background: #0080FF;
    border-radius: 3px;
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
